<mat-toolbar color="primary">
  <span>AI Email Sorter</span>
  <span class="spacer"></span>
  <a mat-button routerLink="/">Dashboard</a>
  <a *ngIf="!me?.authenticated && !isLoadingMe" mat-button [href]="loginHref">Login</a>
  <a *ngIf="me?.authenticated && !isLoadingMe" mat-button routerLink="/accounts">Accounts</a>
</mat-toolbar>
<mat-progress-bar *ngIf="isLoadingMe" mode="indeterminate"></mat-progress-bar>
<div style="padding:16px">
  <ng-container *ngIf="!isLoadingMe">
    <router-outlet></router-outlet>
  </ng-container>
</div>
